.news-container{
    width: 80%;
    position: relative;
    top:20px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.news-object{
    width:260px;
    height: 430px;
    background-color: whitesmoke;
    border: solid 1px gray;
    box-shadow: 0px 0px 5px gray;
    border-radius: 3px;
}

.content-of-news{
    height: 230px;
    word-break: break-all;
    margin:10px;
    padding: 2px;
    padding-top: 0px;
    margin-top: 5px;
    overflow-y: scroll;
    background-color: rgb(243, 243, 243);
    border-radius: 2px;
    border: 1px solid gray;
}

.image-of-news img{
    border-radius: 3px;
}

.news-and-events{
    margin-left: 12%;
    border-bottom: solid black 3px;
    width: 300px;
    
}

.date-posted{
    height: 30px;
    margin-top: 10px;
    margin-left: 12px;
    font-weight: bold;
    color:rgb(122, 122, 122);
}

@media all and (max-width:300px){
    .news-container{
        width: 100%;
    }

}











body {
    margin: 0;
    padding: 0;
  }
/*
  .swiper {
    width: 100%;
    height: 100%;
  }
*/

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .con-swiper{
      width:1000px;
      height:500px;
      margin-left: auto;
      margin-right: auto;
      user-select: none;
      
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .swiper-button-prev{

    font-weight: bold;
  }

  .swiper-button-next{

    font-weight: bold;
  }

  @media all and (max-width:1030px){
    .con-swiper{
      width:800px;
      height: 400px;
    }

  }

  @media all and (max-width:820px){
    .con-swiper{
      width:600px;
      height: 300px;
    }

  }

  @media all and (max-width:820px){
    .con-swiper{
      width:100%;
      height: 400px;
    }

  }

  @media all and (max-width:400px){
    .con-swiper{
      height: 300px;
    }
    .news-and-events{
      width:200px;
      font-size: 30px;
    }
  }